/* cat-edited minimal waybar.css */

/* colors */
@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #FFFFFF;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

/* general */
* {
font-family: "Inter SemiBold", "JetBrains Mono SemiBold", "SF Pro Text Semibold", "Fira Code SemiBold", "Roboto Medium", "Helvetica Neue", sans-serif;
/* font-family: "Inter", "JetBrains Mono", "SF Pro Text", "Fira Code", "Roboto", "Helvetica Neue", sans-serif; */
/* font-family: "JetBrains Mono", "Fira Code", "Roboto", "Helvetica", "Arial", sans-serif; */
  /* font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  font-size: 12px;
  border: none;
  border-radius: 4px;
}


window#waybar {
  background: rgba(0,0,0,0.7);
  padding: 0px 4px;
  margin: 1px 4px;
  border-radius: 4px;
  min-height: 18px;
}


/* workspaces */
#workspaces {
  margin: 0 2px;
  padding: 0 2px;
}
#workspaces button {
  margin: 0 2px;
  padding: 2px 6px;
  color: @textcolor3;
}
#workspaces button.active,
#workspaces button:hover {
  color: @textcolor1;
  background: @workspacesbackground2;
}

/* tooltip */
tooltip {
  background: @backgroundlight;
  padding: 2px 4px;
	font-size: 10px;
  border-radius: 4px;
  /* opacity: 0.9; */
}
tooltip label {
  color: @textcolor2;
}

/* modules */
#window, #taskbar, #network, #bluetooth, #battery, #pulseaudio, #backlight, #custom-hyprshade, #custom-filemanager, #custom-browser, #custom-appmenu, #custom-swaync, #custom-media {
  margin: 0 4px;
  padding: 2px 6px;
  background: @backgroundlight;
  color: @textcolor2;
}

/* clock bigger */

#clock {
  margin: 0 4px;
  padding: 0px 4px;
  font-size: 13px;
  /* font-weight: 600; */
  font-family: "Inter SemiBold", "JetBrains Mono SemiBold", "SF Pro Text Semibold", "Fira Code SemiBold", "Roboto Medium", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
}


/* other modules */
#idle_inhibitor {
  margin: 0 4px;
  font-size: 14px;
  color: @iconcolor;
}
#idle_inhibitor.activated {
  color: #12ffe7;
}
#pulseaudio.muted {
  background: @backgrounddark;
  color: @textcolor1;
}
#network.disconnected, #battery.critical:not(.charging) {
  background: #f53c3c;
  color: @textcolor3;
  animation: blink 0.5s linear infinite alternate;
}
@keyframes blink {
  to { background: @backgroundlight; color: @textcolor2; }
}

/* tray */
#tray {
  margin: 0 4px;
}
#tray > .needs-attention {
  background: #eb4d4b;
}

/* exit button */
#custom-exit {
  margin: 2px 8px;
  font-size: 14px;
  color: @iconcolor;
}

/* focus */
label:focus {
  background: #000;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklinkempty {
    font-family: "Inter SemiBold", "JetBrains Mono SemiBold", "SF Pro Text Semibold", "Fira Code SemiBold", "Roboto Medium", "Helvetica Neue", sans-serif;
    font-size: 16px;
    padding: 2px 0px;
    margin: 0px 2px;
    border-radius: 0px;
    color: @iconcolor;
}
